
<div class="row">
			<div class="col-md-4">
				<ul class="list-group">
					<li class="list-group-item">Laura Cardenas</li>

					<li class="list-group-item">Juan Rubio</li>
					<li class="list-group-item">Oscar Ñáñez</li>
					<li class="list-group-item">Felipe Guerrero</li>
					<li class="list-group-item">Jonatan Parra</li>
				</ul>
		</div>
</div>
